body {
	margin: 0;
	padding: 0;
	background-color: #fefefe;
}

p:has(img) {
    text-align: center;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}
.box {
	background-color: #fefefe;
	box-shadow: 1px 1px 5px 0 rgba(100, 100, 100, 0.2);
	padding: 20px;
	border-radius: 2px;
}

header {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: calc(50% - 40px) 175px;
	box-sizing: border-box;

	.container {
		text-align: center;
	}

	@media (min-width: $mobile-break) {
		background-size: contain;
		background-position: calc(50% - 300px) calc(100%);

		&.main-hero {
			height: 80vh;
			background-position: calc(50% - 350px) calc(100%);
		}

		.container {
			text-align: right;
		}
	}

	nav {
		max-width: 100%;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin: 0 10px;
			}
		}
	}
}

header,
footer {
	a {
		color: #3A4145;

		&.active {
			border-bottom: 2px solid;
		}
	}
}

header a.active {
	border-bottom: 2px solid;
}

h1 a {
    color: transparent;
    background-color: #565656;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
	transition: background-color 0.2s ease, text-shadow 0.2s ease;
	font-size: 1.4em;
	letter-spacing: 0rem;
}

h1 a:hover {
	background-color: #b14444;
	text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.9);
	color: transparent;
}

header,
footer,
section {
	padding: 30px 20px;

	@media (min-width: $mobile-break) {
		padding: 70px 40px;
	}
}

.content img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	border-radius: 2px;
}

.main {
	@extend .light-section;
	font-size: 2.25rem;
}

.light-section {
	background-color: #f5f5f7;
	box-shadow: inset 0px 15px 15px -15px rgba(100, 100, 100, 0.2);
}

.dark-section {
	background-color: #3e3f46;
	color: #c1c1c1;
	box-shadow: inset 0px 15px 15px -15px rgba(0, 0, 0, 0.5);

	a {
		color: #efefef;
		transition: color 0.2s ease;

		&:hover {
			color: #fefefe;
		}
	}
}

.map-section {
	padding: 0;

	#map {
		height: 300px;
	}
}

.quote-section {
	@extend .dark-section;
	display: none;
	font-size: 3rem;
	font-style: italic;
	padding: 70px 20px;

	.container {
		max-width: 600px;
		text-align: center;
	}
}

.staff-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;

	.staff {
		margin: 20px;
	}
}

.staff {
	@extend .box;
	flex: 1 1 300px;
	flex-wrap: wrap;
	margin: 20px 0;

	p {
		margin: 0;
	}

	small {
		opacity: 0.6;
		font-size: 1.7rem;
	}
}

.staff-info {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}

.staff-details {
	margin: 0;
	display: flex;

	.staff-image {
		margin-right: 20px;
	}
}



footer {
	position: relative;
	font-size: 1.9rem;

	h2 {
		font-size: 2.5rem;
		margin: 0 0 30px 0;
	}

	.footer-columns {
		display: flex;
		flex-flow: wrap;
		margin: -10px -10px 10px -10px;
	}

	.legal-line {
		width: 100%;
		padding: 30px 0 0 0;
		margin: 0;

		a {
			font-style: italic;
		}
	}
}

.footer-links {
	flex: 1 0 180px;
	margin: 10px;
	padding: 0;

	li {
		list-style: none;
		margin: 15px 0;

		a {
			svg {
				fill: #3A4145;
				margin-right: 10px;
				transition: fill 0.2s ease;
				vertical-align: middle;
				position: relative;
				top: -2px;
				width: 22px;
				height: 22px;
			}

			&:hover svg {
				fill: #c98c73;
			}
		}
	}
}

.testimonials {
	font-size: 1.8rem;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.testimonial {
	flex: 1 0 0%;
	margin: 0 20px;
}

.testimonial-author {
	display: flex;
	align-items: center;
	color: #75828a;
	margin: 25px 20px 0 20px;

	img {
		max-width: 30px;
		max-height: 30px;
		border-radius: 50%;
		margin-right: 10px;
		position: relative;
		top: -2px;
	}
}

.testimonial-message {
	@extend .box;
	font-style: italic;
	position: relative;
}

.testimonial-message::before,
.testimonial-message::after {
	content: " ";
	position: absolute;
	transform: translateY(-50%) rotate(45deg);
	background-color: #fefefe;
}

.testimonial-message::before {
	top: 100%;
	left: 25px;
	width: 18px;
	height: 18px;
	box-shadow: 1px 1px 5px 0 rgba(100, 100, 100, 0.2);
}

.testimonial-message::after {
	top: 100%;
	left: 22px;
	height: 24px;
	width: 24px;
	z-index: 1;
	margin-top: -5px;
}


.columns {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;

	.column {
		flex: 1 1 250px;
		margin: 20px;
	}
}

.contact-info {
	margin: 0 0 25px 0;
}


.post-list {
	list-style: none;
	padding: 0;
}

.pagination {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	text-align: center;
	align-items: center;

	a,
	span {
		flex: 1;
	}
}

.post-comments {
	@extend .box;
	margin-top: 20px;
}

.post-summary {
	@extend .box;
	display: flex;
	flex-direction: column;

	@media (min-width: $mobile-break) {
		flex-direction: row;
		flex-wrap: wrap;
	}

	&:not(:last-child) {
		margin-bottom: 30px;
	}
}


.post-summary-excerpt {
	margin-bottom: 0;
}

.post-summary-content.has-post-summary-image {
	flex: 0 1 72.5%;
	margin-left: 2.5%;
}

.post-summary-image {
    flex: 0 1 25%;
    box-sizing: border-box;
    margin-bottom: 15px;
    overflow: hidden;
    background: url(/images/ai-bypass.png);
    background-size: cover;
    background-position: center;
	@media (min-width: $mobile-break) {
		margin-bottom: 0;
		padding-right: 20px;
	}
}

.post-summary-details {
    text-align: left;
    color: #75828a;
    font-size: 1.9rem;
    margin: 0.4em 0 -0.5em 0;
}

blockquote {
    margin: 0;
    border: 2px dashed #E7E7E7;
    padding-left: 30px;
    padding-right: 20px;
    border-radius: 10px;
}

.post-summary-author {
	@extend .testimonial-author;
	margin: 0;
}
